<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/cache"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--&lt;!&ndash;加载jdbc属性文件&ndash;&gt;-->
    <!--<context:property-placeholder location="jdbc.properties"/>-->
    <!--<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">-->
        <!--&lt;!&ndash;数据库连接信息&ndash;&gt;-->
        <!--<property name="driverClass" value="${driverClass}"></property>-->
        <!--<property name="jdbcUrl" value="${jdbcUrl}"></property>-->
        <!--<property name="user" value="${user}"></property>-->
        <!--<property name="password" value="${password}"></property>-->
        <!--&lt;!&ndash;其他配置&ndash;&gt;-->
        <!--&lt;!&ndash;配置基本信息&ndash;&gt;-->
        <!--<property name="initialPoolSize" value="5"></property>-->
        <!--<property name="minPoolSize" value="5"></property>-->
        <!--<property name="maxPoolSize" value="20"></property>-->
        <!--<property name="acquireIncrement" value="5"></property>-->
        <!--<property name="maxStatements" value="50"></property>-->
        <!--<property name="maxStatementsPerConnection" value="10"></property>-->
        <!--<property name="maxIdleTime" value="1000"></property>-->
    <!--</bean>-->

    <!--<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">-->
        <!--<property name="dataSource" ref="dataSource"></property>-->
        <!--<property name="configLocation" value="hibernate.cfg.xml"></property>-->
        <!--<property name="annotatedPackages" value="com.csu.rules.domain"></property>-->
        <!--<property name="hibernateProperties">-->
            <!--<props>-->
                <!--<prop key="dialect">org.hibernate.dialect.MySQL5Dialect</prop>-->
                <!--<prop key="show_sql">true</prop>-->
                <!--<prop key="format_sql">true</prop>-->
                <!--<prop key="hbm2ddl.auto">update</prop>-->
            <!--</props>-->
        <!--</property>-->
    <!--</bean>-->
    <!--&lt;!&ndash; 配置Spring声明式事务 &ndash;&gt;-->
    <!--<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">-->
        <!--<property name="sessionFactory" ref="sessionFactory"></property>-->
    <!--</bean>-->
    <!--<bean id="accountDAO" class="com.csu.rules.persistence.impl.AccountDAOimpl">-->
        <!--<property name="sessionFactory" ref="sessionFactory"></property>-->
    <!--</bean>-->
</beans>