li {
    list-style: none;
}

.col_side {
    border-right: 1px solid #e7e7eb;
    margin-right: -1px;
}

.col_side {
    min-height: 1px;
    width: 256px;
    float: left;
}

.menu_box {
    font-size: 20px;
    line-height: 4.0;
}

.col_main {
    border-left: 1px solid #e7e7eb;
}

.col_main {
    overflow: hidden;
    min-height: 700px;
}

.col_main_inner {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}

.main_bd {
    padding: 20px 0;
}

.box {
    margin-bottom: 30px;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(150, 150, 150, 0.3);
    padding: 20px 30px 30px;
    line-height: initial;
}

.hide {
    display: none;
}

.to_red {
    color: #e0080b;
}

.btn-u.btn-u-primary.btn-u-green.btn-u-upper.rounded-2x {
    background: #41b5a7;
}